accelerate==1.10.1
braceexpand==0.1.7
kornia==0.8.1
matplotlib==3.10.5
nibabel==5.3.2
nilearn==0.12.1
numpy==2.2.6
pandas==2.3.2
Pillow==11.3.0
pycocoevalcap==1.2
pycocotools==2.0.10
PyYAML==6.0.2
random-fourier-features-pytorch==1.0.1
requests==2.32.4
scikit-learn==1.7.2
scipy==1.15.3
sentencepiece==0.2.0
tokenizers==0.22.1
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
transformers==4.56.2
umap-learn==0.5.9.post2
webdataset==1.0.2